.Meal-Details{

    text-align: center;

}

.Meal-Details h2{
 border-bottom: lightgray solid 1px;
}

.meal-image img{
    width: 300px;
    padding: 20px;
   
}
.meal-Details{
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 700px;

}

.bold{
    font-weight: bold;
}

.instruction{
    text-align: justify;
}
.mealID{
    padding-left: 20px;
    background-color:navy;
    color: white;
    height: 30px;
    
}