.shop-Container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    border: red 2px solid;
}

.search-box{
    background-color: blue;
    min-height: 30px;
}


.search-box input{
    height: 20px;
    margin-right: 20px;
    width: 250px;
    border:tomato 2px solid;
    border-radius: 5px;
    
}

.search-box button{
    height: 25px;
    width:100px ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

