.shop-Container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: right;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: red 2px solid; */
    height: auto;
    margin: 20px;
    
}
.myCart{
    height: 700px;
    width: 400px;
    border-left: lightgray 1px solid;
    background-color:lightslategrey;
    box-shadow: 0 10px 50px 10px rgb(122, 164, 255);
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
    position: fixed;
    align-content:flex-end;
}


.search-box{
    background-color: blue;
    min-height: 30px;
}


.search-box input{
    height: 20px;
    margin-right: 20px;
    width: 250px;
    border:tomato 2px solid;
    border-radius: 5px;
    
}

.search-box button{
    height: 25px;
    width:100px ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

